<div class="container pt-4">
  
  <h2>Edit Profile</h2>
  
  <div class="row pt-4">
    <div class="cards col-12">
      <div class="diet-preference">
        <p>Your diet preference: </p>
        <%= @current_user.preference %>
      </div>
        <br>

        <%=  %>
        ERB: <%=@current_user.first_name %>

        <br>

        <%= simple_form_for(@current_user) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :preference, priority: [  @current_user.preference ], collection: ["Chinese","Dessert","Fast food","German","Greek","Indian","Italian","Japanese","Lebanese","Middle Eastern","New American","Vegan","Vegetarian"] %>

          <%= f.button :submit, class: "btn btn-warning" %>
      <% end %>

      <br>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>