<div class="container pt-4">
  
  <div class="position-relative back-btn">
    <%= link_to '', :back, class: "absolute-0-0"%>
    <%= '<i class="fas fa-chevron-left back-btn"></i>'.html_safe %>
  </div>

  <div class="diet-preference">
  </div>

<div class="user-content">
    <h2>Hi <%=@current_user.first_name%> <%=@current_user.last_name%>!</h2>
    <h3>Your selected diet preference is: <%= @current_user.preference %></h3>     
      <%= cl_image_tag @user.get_photo_url, width: 200, height: 200, crop: :fill, class: "avatar2"%>
      <p><%= @user.profile %></p>
    </div>


  <div class="row pt-4">
    <div class="cards col-12">
        <%= simple_form_for(@current_user) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :profile %>
          <%= f.input :preference, priority: [  @current_user.preference ], collection: ["Alcohol", "American", "Bakery", "Brunch", "Bubble Tea", "Cafe", "Chinese", "Dessert", "Fast food", "French", "Fusion", "German", "Greek", "Halal", "Healthy", "Indian", "Italian", "Japanese", "Korean", "Latin American", "Lebanese", "Mexican", "Middle Eastern", "New American", "Pizza", "Seafood", "Smoothies & Juices", "Spanish", "Thai", "Vegan", "Vegetarian"] %>
          <%= f.button :submit, 'Update Profile', class: "btn btn-warning" %>        
      <% end %>

      <br>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
                      
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      placeholder: 'new password' %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" },
                      placeholder: 'confirm new password' %>
          
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update Login Info", class: "btn btn-warning" %>
        </div>
      <% end %>

      <br>

      <p>Unhappy?</p>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-outline-dark " %>
      <br>
    </div>
  </div>
</div>