<div class="container">
       <div class="position-relative back-btn">
          <%= link_to '', :back, class: "absolute-0-0"%>
          <%= '<i class="fas fa-chevron-left back-btn"></i>'.html_safe %>
        </div>
        <br>

    <div class="user-content">
      <%= cl_image_tag @user.get_photo_url, width: 200, height: 200, crop: :fill, class: "avatar2"%>
      <h1><%= @user.first_name %></h1>
      <p><%= @user.profile %></p>
    </div>
</div>

