<div class="container">
  <%= link_to "Create", new_event_path, class: "btn btn-success" %>
    <% @events.each do |event| %>
        <div class="col-12 col-sm-6 col-md-3">
          <button type="button" class="btn btn-info"><%= link_to event.event_name, event_path(event)  %></button>
          <p><%= event.restaurant_name %></p>
        </div>
        <%= link_to "Edit", edit_event_path(event), class: "btn btn-success" %>
        <%= link_to "Remove", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
    <% end %>
</div>
