<div class="container">
  <div class="row">
        <div class="cards col-12">
    <% @events.each do |event| %>
      <%= link_to event_path(event) do  %>
          <div class="card-custom d-flex">
            <div class="fill">
              <% event.photos.each do |photo| %>
                 <%= cl_image_tag photo.key, width: 100, heght: 100, crop: :fill %>
                 <!-- find a way to cover without stretching images -->
              <% end %>
            </div>
            <!-- <img width="120" src="<%= image_path("logo.png") %>" alt="#"> -->
            <div class="lockup">
              <h5><%= event.event_name %></h5>
              <p> At <%= event.restaurant_name %></p>
              <p class="date"> At <%= event.date.strftime("%A, %b %d") %></p>
           </div>
          </div>
      <% end %>
    <% end %>
  </div>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
