<div class="container">
  <div class="row">
    <div class="cards col-12" id="list">
      <%= form_tag events_path, method: :get, class: "form-group homepage-form justify-content-center " do %>

        <div class="form-group">
          <!-- <label for="cuisine">Choose a cuisine:</label> -->
          <div class="d-flex">
            <div style="flex-grow: 1">
              <select class="form-control" id="cuisine" name="cuisine">
                <option value="" disabled selected hidden>Filter by cuisine</option>
                <option value="Chinese">Chinese</option>
                <option value="Dessert">Dessert</option>
                <option value="Fast food">Fast food</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Lebanese">Lebanese</option>
                <option value="Middle Eastern">Middle Eastern</option>
                <option value="New American">New American</option>
                <option value="Vegan">Vegan</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="">Show All</option>
              </select>
              <input type="checkbox" id="show_past" name="show_past"/> Show past events
            </div>
            <button class="btn btn-custom" type="submit"><i class="fa fa-search "></i></button>
          </div>
        </div>
        <%#= submit_tag "Find your cuisine", class: "btn btn-custom mt-3" %>
      <% end %>

      <div>
        <h5>Happening soon</h5>
        <% if defined? @future_events and @future_events.length > 0 %>
          <%= render :partial => "event_button", :collection => @future_events %>
        <% else %>
          <div style="text-align: center; margin: 50px">
            <h5><em>Currently there is no event near you at this time, why not create one?</em></h5>
            <%= link_to "Create", new_event_path, class: "btn btn-custom px-4 py-2" %>
          </div>
        <% end %>
      </div>

      <% if defined? @past_events and @past_events.length > 0 %>
      <div>
        <h5>Past events</h5>
        <%= render :partial => "event_button", :collection => @past_events %>
      </div>
    </div>
    <% end %>

    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  </div>
</div>

<div class="map-list">
  <button type="button" class="btn btn-map" id="map-list">Map</button>
</div>
