<div class="container">
  <div class="row">
    <div class="col-12 my-4">
    <div>
      <h1> You guys should sit together!</h1>
       <%= cl_image_tag @user.photo.key, width: 200, height: 200, crop: :fill, class: "avatar2"%>
       <%= cl_image_tag @current_user.photo.key, width: 200, height: 200, crop: :fill, class: "avatar2"%>
     <div>
      <strong><%= @user.first_name %></strong> is also goinig to Little Green Rabbit for lunch at the same time. You guys should totally sit together. Click “Yes” to create a lunch event!
     </div>
    </div>
    <h1><%= @user.first_name %></h1>
    <p><%= @user.profile %></p>
    <p><%= @user.first_name %>'s lunch history</p>
    </div>
  </div>
</div>
