<h1>New Event</h1>
<%= simple_form_for(@event) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', events_path, class: "btn btn-primary" %>
