<div class="container justify-content-center">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6">
      <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, events_path(@event), class: "back-button"%>
        <br>
    <h1>Create an event</h1>
    <%= simple_form_for(@event) do |f| %>
        <%= f.input :event_name %>
        <%= f.input :description %>
        <%= f.input :restaurant_name %>
        <%= f.input :restaurant_address %>
        <%= f.input :restaurant_price_range, collection: [["€", 1], ["€€", 2], ["€€€", 3]] %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :spots %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>
