<div class="container ">
  <div class="row my-5">
    <div class="col-12">
      <div>
        <h2> <strong> <%= @event.event_name %></strong></h2>
        <br>
        <h5><strong><%= @event.restaurant_name %></strong></h5>
        <p><%= @event.restaurant_address %></p>
        <br>
        <p> <strong>Happening at  <%= @event.date %> </strong></p>
        <p><strong>Price range: </strong><%= @event.restaurant_price_range %></p>
      </div>
      <div>
        <p><strong><%= @event.spots %></strong> spots available</p>
      </div>
      <div>
        <p><%= @event.description %></p>
      </div>

      <div>
       <% not_booked = !(current_user.bookings.any?{ |booking| booking.event == @event }) %>
        <% if policy(Booking.new(event: @event)).create? && not_booked %>
          <%= link_to "Join", event_bookings_path(@event), method: :post %>
        <% end %>
        <% if (current_user.bookings.any?{ |booking| booking.event == @event }) %>
          <p><strong>You already booked this event!</strong></p>
        <% end %>
      </div>

        <br>
        <%= link_to "Back", events_path(@event), class: "btn btn-primary" %>
    </div>
  </div>
</div>
