<div class="container">
  <div class="row my-5">
    <div class="col-xs-12 col-md-6">
      <div class="event-card">
        <div class="card-infos">
          <div>
            <h2><%= @event.event_name.capitalize %></h2>
            <p><%= @event.description %></p>
            <p><strong>Where:</strong> <%= @event.restaurant_name %></p>
            <p><strong>At:</strong> <%= @event.restaurant_address %></p>
            <p><strong>Budget:</strong><%= @event.restaurant_price_range %></p>
            <p><strong><%= @event.spots %></strong> spots available</p>
            <p> <strong>Event time:</strong>  <%= @event.date %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
 <% not_booked = !(current_user.bookings.any?{ |booking| booking.event == @event }) %>
  <% if policy(Booking.new(event: @event)).create? && not_booked %>
    <%= link_to "Join", event_bookings_path(@event), method: :post %>
  <% end %>
  <% if (current_user.bookings.any?{ |booking| booking.event == @event }) %>
    <p><strong>You already booked this event!</strong></p>
  <% end %>
  <%= link_to "Back", events_path(@event), class: "btn btn-primary" %>
</div>
