<div class="container ">
  <div class="row my-5">
    <div class="col-12">
        <%= link_to "Back", events_path(@event), class: "btn btn-primary" %>
        <br>
      <div>
        <h2> <strong> <%= @event.event_name %></strong></h2>
        <div class="image-gallery" style="height: 215px; overflow: auto; white-space: nowrap;">
          <% @event.photos.each do |photo| %>
            <%= cl_image_tag photo.key, width: 200, crop: :fill %>
          <% end %>
        </div>
        <br>
        <h5><strong><%= @event.restaurant_name %></strong></h5>
        <p><%= @event.restaurant_address %></p>
        <br>
        <p> <strong>Happening at  <%= @event.date %> </strong></p>
        <p><strong>Price range: <%= "€" * @event.restaurant_price_range %></strong></p>
      </div>

      <div>
        <p>Host: <strong> <%= @event.user.first_name %></p></strong>
        <%= cl_image_tag @event.user.photo.key, width: 200, crop: :fill, class: "avatar" %>
        <br>
        <br>
        <p><strong>Guests: </strong></p>
        <div class="d-flex">
          <div>
           <% Booking.joins(:event).where(event: @event).each do |booking|  %>
             <strong><%= booking.user.first_name %></strong>
             <br>
            <%= cl_image_tag booking.user.photo.key, width: 200, crop: :fill, class: "avatar" %>
            <% end %>
          </div>
        </div>
      </div>
      <br>

      <div>
        <p><%= @event.description %></p>
      </div>
      <br>

      <div>
       <% not_booked = !(current_user.bookings.any?{ |booking| booking.event == @event }) %>
        <% if policy(Booking.new(event: @event)).create? && not_booked %>
          <%= link_to "Join", event_bookings_path(@event), method: :post, class: "btn btn-custom"%>
        <% end %>

        <% if (current_user.bookings.any?{ |booking| booking.event == @event }) %>
          <p><strong>You already booked this event!</strong></p>
        <% end %>

        <% if policy(@event).edit? %>
          <%= link_to "Edit", edit_event_path(@event), class: "btn btn-success" %>
        <% end %>

        <% if policy(@event).destroy? %>
          <%= link_to "Remove", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
