<div class="container ">
  <div class="row my-5">
    <div class="col-12">
        <div class="position-relative back-btn">
          <%= link_to '', events_path(@event), class: "absolute-0-0"%>
          <%= '<i class="fas fa-chevron-left back-btn"></i>'.html_safe %>
        </div>
        <br>
      <div>
        <h2> <strong> <%= @event.event_name %></strong></h2>
        <div class="image-gallery mb-4 mt-2 rounded-sm" style="height: 215px; overflow: auto; white-space: nowrap;">
          <% if @event.photos.attached? %>
          <% @event.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 214, crop: :fill, class: "restaurant_img" %>
          <% end %>
        <% end %>
      </div>
        <h5><strong><%= @event.restaurant_name %></strong></h5>
        <p><%= @event.restaurant_address %></p>

        <br>

        <p> <%= '<i class="far fa-calendar-alt"></i>'.html_safe %>  <%= @event.start_time.strftime("%e %b %Y") %></p>
        <p> <%= '<i class="far fa-clock"></i>'.html_safe %> <%= @event.start_time.strftime("%H:%M")%> to <%=@event.end_time.strftime("%H:%M")%></p>

        <p> <%= '<i class="fas fa-money-bill-wave"></i>'.html_safe %> <%= "€" * @event.restaurant_price_range %></p>
      </div>

      <div>
        <br>      <div>
        <p><%= @event.description %></p>
      </div>
        <p class="mt-4 mb-0">Host: <strong> <%= @event.user.first_name %></p></strong>
        <%= link_to user_path(@host) do %>
        <% if @event.photos.attached? %>
          <%= cl_image_tag @event.user.photo.key, width: 200, crop: :fill, class: "avatar" %>
          <% end %>
        <% end %>
        <br>
        <p class="mb-0 mt-3"><strong>Guests: </strong></p>
        <div class="d-flex">
           <% Booking.joins(:event).where(event: @event).each do |booking|  %>
            <div>
              <p class="mb-0"><%= booking.user.first_name %></p>
                <%= link_to user_path(booking.user_id) do %>
                  <%= cl_image_tag booking.user.photo.key, width: 200, crop: :fill, class: "avatar" %>
                <% end %>
              </div>
            <% end %>
        </div>
      </div>

      <br>      <div>
        <% if @booking %>
          <button id="sweet-alert-unjoin" class="btn btn-custom btn btn-home">Unjoin</button>
          <%= link_to "Unjoin", booking_path(@booking), method: :delete, class: "btn btn-custom btn btn-home hidden", id: "unjoin-button" %>
        <% elsif policy(Booking.new(event: @event)).create? %>
          <button id="sweet-alert-join" class="btn btn-custom btn btn-home" data-location="<%= @event.restaurant_address %>" data-name="<%= @event.restaurant_name %>">Join</button>
          <%= link_to "Join", event_bookings_path(@event), method: :post, class: "btn btn-custom btn btn-home hidden", id: "join-button" %>
        <% end %>

        <% if policy(@event).edit? %>
          <%= link_to "Edit", edit_event_path(@event), class: "btn btn-success" %>
        <% end %>

        <% if policy(@event).destroy? %>
          <%= link_to "Remove", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
 
  <div class="group-message" id="group-message">
  <div id="group-message-board">
    <% @event.messages.each do |message| %>
      <%= render "messages/show", message: message %>
    <% end %>
  </div>
 <%= render "messages/form", event: @event, message: @message %>
  </div>
</div>