<div class="container pt-4">
  <h1>Dashboard</h1>
  <div class="row pt-4">
    <div class="cards col-12">
      <h3>Hosting</h3>
      <% @events.each do |event| %>
        <%= link_to event_path(event) do  %>
          <div class="card-custom d-flex">
            <div class="fill">
              <% if event.photos %>
                <% event.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, width: 100, heght: 100, crop: :fill %>
                <% end %>
              <% end %>
            </div>
            <div class="lockup">
              <h5><%= event.event_name %></h5>
              <p> At <%= event.restaurant_name %></p>
              <p class="date"> At <%= event.start_time.strftime("%A, %b %d") %></p>
           </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cards col-12">
      <h3>Joining</h3>
      <% @bookings.each do |booking| %>
        <%= link_to event_path(booking.event) do  %>
          <div class="card-custom d-flex">
            <div class="fill">
               <% if booking.event.photos %>
                <% booking.event.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, width: 100, heght: 100, crop: :fill %>
                <% end %>
              <% end %>
            </div>
            <div class="lockup">
              <h5><%= booking.event.event_name %></h5>
              <p> At <%= booking.event.restaurant_name %></p>
              <p class="date"> At <%= booking.event.start_time.strftime("%A, %b %d") %></p>
           </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>







